.step-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  border: 2px solid #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: default;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.circle.active1 {
  border: 2px solid black;
  background: black;
  color: white;
}

.circle.active2 {
  border: 2px solid black;
  background: white;
  color: black;
}

.line {
  flex: 1;
  height: 3px;
  background: #dee2e6;
  position: relative;
  z-index: 1;
  margin: 0;
}

.line-progress {
  height: 100%;
  background: black;
  width: 0%;
  transition: width 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.step-label {
  font-size: 12px;
  color: #9c9a9a;
  font-weight: 500;
}

.step-label.active {
  font-weight: 700;
  color: black;
}
