.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  text-align: left;
}

.form-label {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  max-width: 60%;
}

.input-wrapper {
  position: relative;
  width: 25%;
}

.form-control {
  width: 100%;
  padding-right: 40px;
  text-align: right;
  box-sizing: border-box;
  border: 2px solid black;
}

.holder {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 0.9rem;
  pointer-events: none;
}

.is-invalid {
  border: 2px solid red;
  background-image: none !important;
}