.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 10px;
}

.form-label {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  max-width: 60%;
}

.input-wrapper {
  position: relative;
  width: 25%;
}

.form-control {
  color: rgb(139, 139, 139);;
  width: 100%;
  padding-right: 40px;
  text-align: right;
  box-sizing: border-box;
  border: 2px solid rgb(174, 174, 174);
  background-color: rgb(218, 218, 218);
}

.holder {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(139, 139, 139);
  font-size: 0.9rem;
  pointer-events: none;
}

.sub-text {
  display: block;
  font-size: 12px;
  color: gray;
  margin-top: 2px;
}

.text-under{
  text-align: start;
  margin-bottom: 10px;
}

input::placeholder {
  color: rgb(139, 139, 139);
}
