<div class="col">
  <div class="container body">
    <div class="container">
      <p class="text-body">1.Tax Filing Detail</p>
    </div>
    <div class="row head-filing">
      <div class="filing-body">
        <p class="type-filing">
          Type of filing<i class="bi bi-asterisk need"></i>
        </p>
        <app-filing-type (filingChange)="onFilingChange($event)" [valid]="errorCheck.errFilingType"></app-filing-type>
      </div>

      <div class="filing-month">
        <div class="row-input">
          <div class="col">
            <p class="month-header">
              VAT Month<i class="bi bi-asterisk need"></i>
            </p>
            <div class="drop-down-components">
              <app-month (monthChange)="onMonthSelected($event)" [valid]="errorCheck.errMonth"></app-month>
              <app-year (yearChange)="onYearSelected($event)" [valid]="errorCheck.errYear"></app-year>
            </div>
          </div>

          <div class="col" *ngIf="this.addCheck">
            <p class="month-header">Type<i class="bi bi-asterisk need"></i></p>
            <div class="drop-down-components">
              <app-type></app-type>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-body-2-row">
      <span class="text-body-2">2.Tax Computation</span>
      <span class="text-left">View Exchange Rate</span>
    </div>

    <div class="row">
      <p class="detail-text">
        Provide total value taxable electronic service<i class="bi bi-asterisk need"></i>
      </p>
    </div>

    <div class="row">
      <app-sale-amount (totalChange)="onSaleAmountChange($event)" [valid]="errorCheck.errSaleAmount"></app-sale-amount>
      <app-tax-amount [vatChange]="data.taxAmount" (dataVat)="onVatInput($event)"
        [valid]="errorCheck.errTaxAmount"></app-tax-amount>
    </div>

    <div class="container case" *ngIf="this.addCheck">
      <p class="detail-text">
        In case of late filling and payment,or additional filling
      </p>
      <app-surcharge [surChargeData]="data.surcharge"></app-surcharge>
      <app-penalty [penaltyData]="data.penalty"></app-penalty>
      <app-total-amount [totalData]="data.totalAmount"></app-total-amount>
    </div>
  </div>
  <div class="container btn-layout">
    <button class="btn-style-back" (click)="goBack()">Back</button>
    <button class="btn-style-next" (click)="onNext()">Next</button>
  </div>
</div>