.input-radio {
  padding-top: 5px;
  padding-left: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 120px;
}

.radio-box {
  display: flex;
  align-items: center;
  gap:13px
}

.radio-style {
  width: 18px;
  height: 18px;
  transform: scale(1.3);
  accent-color: black;
  cursor: pointer;
}

