.input-radio {
  padding-top: 5px;
  padding-left: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 120px;
}

.radio-box {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 150px;
}

.radio-style {
  width: 18px;
  height: 18px;
  transform: scale(1.3);
  accent-color: black;
  cursor: pointer;
}

.is-invalid {
  color: red;
}

.text-label{
  font-weight: 500;
}